#name {
	color : linear-gradient( to right,violet, indigo, blue, green, yellow, orange, red);
}


button {
   border: 2px solid rgb(54, 49, 49);
   background: #7dc2ce65;
   color: rgb(255, 255, 255);
   padding: 10px 20px;
   /* margin: 5px 2px; */
   font-weight: 700;
   border-radius: 40px;
	min-width: 175px;
	min-height: 20px;
}


/* .menu{
	width:100%;
	position:fixed;
	left:0;
	top:0;
	background-color:rgba(255,255,255,.25);
	font-size:200%;
	color:#2d79a6;
	padding:1% 1% 1% 1%;
} */

.menu {
	background-color: rgb(99, 210, 230);
	border: 3px solid rgb(37, 117, 84);
	
	margin-top: 15px;
   height: 60px;

   display: flex;
   flex-direction: row;
   /* there's also column, row, row-reverse */
   flex-wrap: wrap;
   
   justify-content: center;


   align-items: stretch;
}

.container-item {
  background: rgb(143, 207, 145);
  color: rgb(66, 63, 63);
  font-size: 25px;
  text-align: center;

  min-width: 90px;
  line-height: 50px;
  margin: 10px; 
}

.info{
	/* margin-top:25%; */
	font-size:250%;
	color: white;
}
.info_detail{
	color:white;
}
.conclusion{
	left:0;
	text-align:justify;
	position:absolute;
	font-size:175%;
	padding:10% 10% 0 50px;
	margin-top:10%;
	background-color:rgba(255,255,255,0.2);
}
.contact{
	left:0;	
	background-color:#3f4f43;
	bottom:0;
	position: fixed;
	right:0;
	padding: 1% 1% 1% 1%;
	height:32px;
}
.socials{
	left:1%;
	position:absolute;
}
.copyright{
	right:1%;
	position:absolute;
}
.body_table{
	margin-top:20%;
}
.table1,td,th{
	text-align:center;
	background-color:rgba(100, 194, 128, 0.863);
	border:1px solid rgb(0, 0, 0);
	border-style: dashed;
	border-spacing: 0ch;
}
.head1{
	font-size:250%;
	color: azure;
}
.body1{
	font-size:150%;
	color: azure;
}

body{
	/* font-size:150%; */
	background-color: rgb(49, 53, 50);
}

.label {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: azure;
}

#wave {
	position: fixed;
}

#dot_dot {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: azure;
	font-size: 33px;
	background: linear-gradient(to right,violet, indigo, blue, green, yellow, orange, red);
}